@use '../abstracts/variables' as *;

@mixin flexCenterRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flexCenterColumn {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin transitionTime($time) {
    transition: all $time;
    -webkit-transition: all $time;
    -moz-transition: all $time;
}
  
@mixin transformBurger($translateY, $math, $translateX, $rotation) {
    transform: translateY(calc($translateY / $math)) translateX($translateX) rotate($rotation);
    -webkit-transform: translateY(calc($translateY / $math)) translateX($translateX) rotate($rotation);
    -moz-transform: translateY(calc($translateY / $math)) translateX($translateX) rotate($rotation);
}