/* ---------- HAMBURGER ICON VARIABLES ---------- */
$heightIcon: 50px;
$heightLine: 8px;
$rotation: 45deg;
$rotationNeg: ($rotation * -1);
$transitionTime: 0.4s;
$translateY: calc($heightIcon / 2);
$translateYMinus: ($translateY - 25px);
$translateYNeg: ($translateY * -1);
$translateX: 0;
$widthLine: 100px;