@use '../abstracts' as *;

.hamburger-wrapper {
    @include flexCenterColumn;
    display: inline-block;
    height: calc($heightIcon * 3);
    width: $widthLine;
}

#hamburger-icon {
    @include flexCenterColumn;
    display: block;
    height: calc($heightIcon * 3);
    position: relative;
    width:$widthLine;
    
    .hamburger-line {
        @include transitionTime($transitionTime);
        background-color: $roboGlow;
        border-radius: (calc($heightLine / 2));
        display: block;
        height: $heightLine;
        left: 0;
        position: absolute;
        width: $widthLine;
        
        &.line-1 {
            top: 0;
        }
        &.line-2 {
            top: 50%;
        }
        &.line-3 {
            top: 100%;
        }
    }
    &:hover, &:focus {
        .line-1 {
            @include transformBurger($heightLine, (2 * -1), $translateX, 0);
        }
        .line-3 {
            @include transformBurger($heightLine, 2, $translateX, 0);
        }  
    }
    &.active {
        .line-1 {
            @include transformBurger($translateY, 1, $translateX, $rotation);
        }
        .line-2 {
            @include transformBurger($translateYMinus, 1, $translateX, $rotation);
        }
        .line-3 {
            @include transformBurger($translateYNeg, 1, $translateX, $rotationNeg)
        }
    }
}

a {
    height: inherit;
    width: inherit;
    text-decoration:none;
    color: #95a5a6;
    display: inline-block;
    &:hover, &:focus {
      color: $bgColor;
    }
}